<h1><%= t(:editing_review_for) %> <%= link_to @review.product.name, product_path(@review.product) %></h1>

<h2><%= t(:original_version) %></h2>

<div>
<%= simple_format(@review.review) %>
</div>
<br/>

<h2><%= t(:edited_version) %></h2>

<%= form_for([:admin, @review]) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>
